@model BaseViewModel
@{
    var TextSet = Model.TextSet;
}
<!DOCTYPE html>
<html class="no-js" lang="@Model.Language" dir="ltr">
<head>
    <meta charset="utf-8">
    <!-- Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
		wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html -->
    <title>@TextSet.Get("title")</title>
    <meta content="width=device-width,initial-scale=1" name="viewport">
    <meta name="description" content=@TextSet.Get("info")>
    @* <link rel="alternate" hreflang="fr" href="content-fr.html"> *@
    <link href="~/GCWeb/assets/favicon.ico" rel="icon" type="image/x-icon">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="~/GCWeb/css/theme.min.css">
    <noscript><link rel="stylesheet" href="~/wet-boew/css/noscript.min.css" /></noscript>
</head>
<body vocab="http://schema.org/" resource="#wb-webpage" typeof="WebPage">
    <nav>
        <ul id="wb-tphp">
            <li class="wb-slc">
                <a class="wb-sl" href="#wb-cont">@TextSet.Get("skip_to_main")</a>
            </li>
            <li class="wb-slc">
                <a class="wb-sl" href="#wb-info">@TextSet.Get("skip_to_about")</a>
            </li>
        </ul>
    </nav>

    <header>
        <!-- TEST SITE HEADER - need some custom styling...? -->
        @* <div class="bg-circle-color">
            <div class="block sm:flex py-4 layout-container">
                <span class="font-body text-xs text-circle-color font-extrabold flex-shrink-0 bg-white px-4 py-1 my-auto leading-6">Test site</span>
                <p class="font-body text-xs mt-5 sm:mt-auto text-white sm:ml-4 pt-1 my-auto lg:pb-1">You cannot apply for services or benefits through this test site. Parts of this site may not work and will change.</p>
            </div>
        </div> *@

        <div id="wb-bnr" class="container">
            <div class="row">
                <section id="wb-lng" class="col-xs-3 col-sm-12 pull-right text-right">
                    <h2 class="wb-inv">@TextSet.Get("language_selection")</h2>
                    <ul class="list-inline mrgn-bttm-0">
                        <li>
                            @if (@Model.Language == "en") {
                                <a href="?lang=fr"><span class="hidden-xs">Français</span></a>
                            } else {
                                <a href="?lang=en"><span class="hidden-xs">English</span></a>
                            }
                        </li>
                    </ul>
                </section>
                <div class="brand col-xs-9 col-sm-5 col-md-4" property="publisher" resource="#wb-publisher" typeof="GovernmentOrganization">
                    <a href="https://www.canada.ca/en.html" property="url">
                        <img src="~/GCWeb/assets/sig-blk-en.svg" alt="Government of Canada" property="logo">
                        <span class="wb-inv"> / <span lang="fr">Gouvernement du Canada</span></span>
                    </a>
                    <meta property="name" content="Government of Canada">
                    <meta property="areaServed" typeof="Country" content="Canada">
                    <link property="logo" href="~/GCWeb/assets/wmms-blk.svg">
                </div>
            </div>
        </div>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a class="" asp-controller="Home" asp-action="Index">@TextSet.Get("home")</a>
                        </li>
                        <li>
                            <a class="" asp-controller="MaternityBenefits" asp-action="Form">@TextSet.Get("new_simulation")</a>
                        </li>
                        
                    </ul>
                    </div>
                </div>
        </nav>

        <!-- Menu currently not shown -->
        @* <nav class="gcweb-menu" typeof="SiteNavigationElement">
            <div class="container">
                <h2 class="wb-inv">@TextSet.Get("menu")</h2>
                <button type="button" aria-haspopup="true" aria-expanded="false"><span class="wb-inv">Main </span>Menu <span class="expicon glyphicon glyphicon-chevron-down"></span></button>
                <ul role="menu" aria-orientation="vertical" data-ajax-replace="https://www.canada.ca/content/dam/canada/sitemenu/sitemenu-v2-en.html">
                    <li role="presentation"><a role="menuitem" href="https://www.canada.ca/en/services/jobs.html">Jobs and the workplace</a></li>
                    <li role="presentation"><a role="menuitem" href="https://www.canada.ca/en/services/immigration-citizenship.html">Immigration and citizenship</a></li> 
                </ul>
            </div>
        </nav> *@
        <nav id="wb-bc" property="breadcrumb">
            <h2>@TextSet.Get("you_are_here")</h2>
            <div class="container">
                <ol class="breadcrumb">
                    <li><a href=@TextSet.Get("canada_ca_link")>@TextSet.Get("canada_ca")</a></li>
                    <li><a href=@TextSet.Get("sc_labs_link")>@TextSet.Get("sc_labs")</a></li>
                </ol>
            </div>
        </nav>
    </header>

    <main property="mainContentOfPage" resource="#wb-main" class="container" typeof="WebPageElement">
        <div>
            <h2>@TextSet.Get("title")</h2>
            <p>@TextSet.Get("info")</p>
        </div>
        <hr/>
        @RenderBody()
    </main>

    <footer id="wb-info">
        <div class="landscape">
            <nav class="container wb-navcurr">
                <h2 class="wb-inv">@TextSet.Get("about_government")</h2>
                <ul class="list-unstyled colcount-sm-2 colcount-md-3">
                    <li><a href=@TextSet.Get("contact_us_link")>@TextSet.Get("contact_us")</a></li>
                    <li><a href=@TextSet.Get("departments_and_agencies_link")>@TextSet.Get("departments_and_agencies")</a></li>
                    <li><a href=@TextSet.Get("public_service_link")>@TextSet.Get("public_service")</a></li>
                    <li><a href=@TextSet.Get("news_link")>@TextSet.Get("news")</a></li>
                    <li><a href=@TextSet.Get("treaties_link")>@TextSet.Get("treaties")</a></li>
                    <li><a href=@TextSet.Get("reporting_link")>@TextSet.Get("reporting")</a></li>
                    <li><a href=@TextSet.Get("prime_minister_link")>@TextSet.Get("prime_minister")</a></li>
                    <li><a href=@TextSet.Get("how_government_works_link")>@TextSet.Get("how_government_works")</a></li>
                    <li><a href=@TextSet.Get("open_government_link")>@TextSet.Get("open_government")</a></li>
                </ul>
            </nav>
        </div>
        <div class="brand">
            <div class="container">
                <div class="row">
                    <nav class="col-md-9 col-lg-10 ftr-urlt-lnk">
                        <h2 class="wb-inv">About this site</h2>
                        <ul>
                            <li><a href=@TextSet.Get("social_media_link")>@TextSet.Get("social_media")</a></li>
                            <li><a href=@TextSet.Get("mobile_apps_link")>@TextSet.Get("mobile_apps")</a></li>
                            <li><a href=@TextSet.Get("terms_and_conditions_link")>@TextSet.Get("terms_and_conditions")</a></li>
                            <li><a href=@TextSet.Get("privacy_link")>@TextSet.Get("privacy")</a></li>
                        </ul>
                    </nav>
                    <div class="col-xs-6 visible-sm visible-xs tofpg">
                        <a href="#wb-cont">@TextSet.Get("top_of_page") <span class="glyphicon glyphicon-chevron-up"></span></a>
                    </div>
                    <div class="col-xs-6 col-md-3 col-lg-2 text-right">
                        <img src="~/GCWeb/assets/wmms-blk.svg" alt="Symbol of the Government of Canada">
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/wet-boew/js/wet-boew.min.js"></script>
    <script src="~/GCWeb/js/theme.min.js"></script>
    @* <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script> *@
    @RenderSection("Scripts", required: false)
</body>
</html>
