@using babel_web_app.Models;
@model SimulationFormViewModel
@{
    var TextSet = Model.TextSet;
}

<div>
    <div class="row">
        <div class="col-md-12">
            <h3>@TextSet.Get("form_title")</h3>
            <p>@TextSet.Get("form_info")</p>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-md-6">
            <form asp-action="RunSim" class="form-horizontal" id="mat-ben-form">
                <input type="hidden" asp-for="SimulationName"/>
                <input type="hidden" asp-for="BaseCase.MaxWeeklyAmount"/>
                <input type="hidden" asp-for="BaseCase.Percentage"/>
                <input type="hidden" asp-for="BaseCase.NumWeeks"/>

                <!-- Max weekly amount -->
                <div class="form-group">
                    <label asp-for="VariantCase.MaxWeeklyAmount" class="col-sm-6 control-label">
                        @TextSet.Get("max_weekly_amount_label")
                    </label>
                    <div class="col-sm-6">
                        <input id="form-max-weekly-amount" type="text" class="form-control" asp-for="VariantCase.MaxWeeklyAmount"/>
                        <span class="text-danger" asp-validation-for="VariantCase.MaxWeeklyAmount"></span>
                    </div>
                </div>

                <!-- Percentage -->
                <div class="form-group">
                    <label asp-for="VariantCase.Percentage" class="col-sm-6 control-label">
                        @TextSet.Get("percentage_label")
                    </label>
                    <div class="col-sm-6">
                        <input id="form-percentage" type="text" class="form-control" asp-for="VariantCase.Percentage"/>
                        <span class="text-danger" asp-validation-for="VariantCase.Percentage"></span>
                    </div>
                </div>

                <!-- Num weeks -->
                <div class="form-group">
                    <label asp-for="VariantCase.NumWeeks" class="col-sm-6 control-label" data-toggle="tooltip" data-placement="right" title=@TextSet.Get("num_weeks_description")>
                        @TextSet.Get("num_weeks_label")
                    </label>
                    <div class="col-sm-6">
                        <input id="form-num-weeks" type="text" class="form-control" asp-for="VariantCase.NumWeeks"/>
                        <span class="text-danger" asp-validation-for="VariantCase.NumWeeks"></span>
                    </div>
                </div>

                <!-- Buttons -->
                <div class="form-group">
                    <div class="col-sm-6"></div>
                    <div class="col-sm-6">
                        <div class="btn-group">
                            <button type="button" onclick="resetFields();" class="btn btn-default">@TextSet.Get("reset_fields_button")</a>
                            <button type="submit" class="btn btn-success">@TextSet.Get("run_simulation_text")</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <br/>
</div>

<script>
function resetFields() {
    var form = $("#mat-ben-form");

    var defaultMax = 595;
    var defaultPercentage = 55;
    var defaultNumWeeks = 15;

    $(form).find("#form-max-weekly-amount").val(defaultMax);
    $(form).find("#form-percentage").val(defaultPercentage);
    $(form).find("#form-num-weeks").val(defaultNumWeeks);
}
</script>

